* {
  margin: 0;
  padding: 0;
  font-family: Geneva;
}
html,body {
  /* background: #303030; */
  height: 100%;
  width: 100%;
}
/* .masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-bottom: 21rem;
  background-image: url("../img/bg-masthead.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
} */
.navb{
    background-color: #007bff;
    height: 50px;
    width: 100%;
}

.download{
    float: right;
    margin-top: 7px;
}

nav {
  /* padding: 10px; */
  position: relative;
  z-index: 1;
}
nav::after {
  content: "";
  display: block;
  clear: both;
}
aside {
  position: absolute;
  width: 300px;
  height: 100%;
  background: #1d809f;
  left: 0;
  top: 0;
  display: none;
}
aside::before {
  content: "";
  display: block;
  height: 67px;
}
aside a {
  display: block;
  padding: 12px 18px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  border-bottom: 1px solid #414141;
}
.toggle-wrap {
  padding: 10px;
  position: absolute;
  cursor: pointer;
  float: left;
}
.toggle-bar,
.toggle-bar::before,
.toggle-bar::after,
.toggle-wrap.active .toggle-bar,
.toggle-wrap.active .toggle-bar::before,
.toggle-wrap.active .toggle-bar::after {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.toggle-bar {
	width: 38px;
	margin: 10px 0;
	position: absolute;
  border-top: 6px solid #303030;
	display: block;
}
.toggle-bar::before,
.toggle-bar::after {
	content: "";
	display: block;
	background: #303030;
	height: 6px;
	width: 38px;
	position: absolute;
	top: -16px;
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-ms-transform-origin: 13%;
	-webkit-transform-origin: 13%;
	transform-origin: 13%;
}
.toggle-bar::after {
  top: 4px;
}
.toggle-wrap.active .toggle-bar {
  border-top: 6px solid transparent;
}
.toggle-wrap.active .toggle-bar::before {
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.toggle-wrap.active .toggle-bar::after {
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}


/* Images */
.softheading{
  padding: 50px;
  text-align: center;
  width: 100%;
  height: 100%;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}
.container{
  padding-left: 7%;
}

div.gallery:hover {
  border: 1px solid #f7bd02;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  text-align: center;
  width: 100%;
}
.description{
    text-align: center;
    padding: 5px;
    margin-bottom: 0px;
    background-color: #55c6e6;
}

.a{
    text-decoration: none;
    color: #ffffff;
}
.a:hover{
    text-decoration: none;
    color: #000000;
}

/********* FOOTER **********/


.container1{
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container2{
  position: relative;
  top: 50px;
  display: table;
  width: 100%;
  height: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container3{
  position: relative;
  top: 100px;
  display: table;
  width: 100%;
  height: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container4{
  position: relative;
  top: 150px;
  display: table;
  width: 100%;
  height: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container5{
  position: relative;
  top: 200px;
  display: table;
  width: 100%;
  height: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container6{
  position: relative;
  top: 250px;
  display: table;
  width: 100%;
  height: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container7{
    position: relative;
    top:300px;
    display: table;
    width: 100%;
    height: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container8{
    position: relative;
    top:350px;
    display: table;
    width: 100%;
    height: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container9{
    position: relative;
    top:400px;
    display: table;
    width: 100%;
    height: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container10{
    position: relative;
    top:400px;
    display: table;
    width: 100%;
    height: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
/**********-* SLIDER ****************/


.slider, 
.slider > div {
    /* Images default to Center Center. Maybe try 'center top'? */
    background-position: center center;
    display: block;
    width: 100%;
    height: 400px;
    /* height: 100vh; *//* If you want fullscreen */
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: #000; */
    overflow: hidden;
    -moz-transition: transform .4s;
    -o-transition: transform .4s;
    -webkit-transition: transform .4s;
    transition: transform .4s;
}

.slider > div {
    position: absolute;
}

.slider > i {
    color: #5bbd72;
    position: absolute;
    font-size: 60px;
    margin: 20px;
    top: 40%;
    text-shadow: 0 10px 2px #223422;
    transition: .3s;
    width: 30px;
    padding: 10px 13px;
    background: #fff;
    /* background: rgba(255, 255, 255, .3); */
    cursor: pointer;
    line-height: 0;
    box-sizing: content-box;
    border-radius: 3px;
    z-index: 4;
}

.slider > i svg {
    margin-top: 3px;
}

.slider > .left {
    left: -100px;
}
.slider > .right {
    right: -100px;
}
.slider:hover > .left {
    left: 0;
}
.slider:hover > .right {
    right: 0;
}

.slider > i:hover {
    background:#fff;
    background: rgba(255, 255, 255, .8);
    transform: translateX(-2px);
}

.slider > i.right:hover {
    transform: translateX(2px);
}

.slider > i.right:active,
.slider > i.left:active {
    transform: translateY(1px);
}

.slider:hover > div {
    transform: scale(1.01);
}

.hoverZoomOff:hover > div {
    transform: scale(1);
}

.slider > ul {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 4;
    padding: 0;
    margin: 0;
    transform: translateX(-50%);
}

.slider > ul > li {
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    list-style: none;
    float: left;
    margin: 10px 10px 0;
    cursor: pointer;
    border: 1px solid #fff;
    -moz-transition: .3s;
    -o-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
}

.slider > ul > .showli {
    background-color: #7EC03D;
    -moz-animation: boing .5s forwards;
    -o-animation: boing .5s forwards;
    -webkit-animation: boing .5s forwards;
    animation: boing .5s forwards;
}

.slider > ul > li:hover {
    background-color: #7EC03D;
}

.slider > .show {
    z-index: 1;
}

.hideDots > ul {
    display: none;
}

.showArrows > .left {
    left: 0;
}

.showArrows > .right {
    right: 0;
}

.titleBar {
    z-index: 2;
    display: inline-block;
    background: rgba(0,0,0,.5);
    position: absolute;
    width: 100%;
    bottom: 0;
    transform: translateY(100%);
    padding: 20px 30px;
    transition: .3s;
    color: #fff;
}

.titleBar * {
    transform: translate(-20px, 30px);
    transition: all 700ms cubic-bezier(0.37, 0.31, 0.2, 0.85) 200ms;
    opacity: 0;
}

.titleBarTop .titleBar * {
    transform: translate(-20px, -30px);
}



@keyframes boing {
    0% {
        transform: scale(1.2);
    }
    40% {
        transform: scale(.6);
    }
    60% {
        transform: scale(1.2);
    }
    80% {
        transform: scale(.8);
    }
    100% {
        transform: scale(1);
    }
}

/* -------------------------------------- */

#slider1{
  /* height: 93%; */
  z-index: -100;
}
div.pic{
  /* height: 100%; */
  opacity: 0.2;
}




/************** SEARCH BUTTON *******************/


.searchcont {
    /* position: relative; */
    text-align: center;
}

.searchbox {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    height:38px;
    width: 40%;
    font-size:15px;
    padding-left: 5px;
    /* background-color: #007bff; */
    color: #000000;
}

.searchboxbtn {
    line-height:40px;
    position: absolute;
    top:250px;
    left: 67%;
    transform: translate(-50%, -50%);
    height:38px;
    width: 8%;
    background-color: #000000;
    color: #ffffff;
    border: none;
}
.main{
    /* line-height:40px; */
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#000000;
    font-size:50px;
    font-weight: 1000;
}



/**************** FOOTER **************/

.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}


/* /////////mslider//////////// */

.mslider{
    margin-top: 15px;
    margin-left: 30px;
    z-index: -100;
}

.blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;

}

/* The colour of the indicators */
.blog .carousel-indicators li {
    /* background: #a3a3a3; */
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
background: #707070;
}